# --- General packages ---

## FaaS-Profiler-Core
git+https://${GITHUB_ACCESS_TOKEN}@github.com/maltewae/faas-profiler-core

## Package to parse ymal
pyyaml

## Packge for monkey patching support
wrapt

## Execute requests
requests

# --- Measurements packages --
psutil

# -- Original patching packages --
## AWS SDK
boto3
botocore